.loginContainer {
  height: -webkit-fill-available;
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 20px;
  background: url('@/assets/loginBg.jpg') no-repeat;
  background-size: cover;
}
.loginFlex {
  position: absolute;
  border: 1px solid rgb(229, 226, 226);
  border-radius: 2%;
  width: 80%;
  height: fit-content;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin:auto;
  box-shadow: 6px 6px 10px #eee;
}
.list{
  color:#8fd3f4;
  font-size: 40px;
}
.loginSubmit {
  color: white;
  background-color: #f6d7eb;
  width: 80%;
  margin:0 auto;
}
.loginLink {
  border: 1px solid;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #5365a2;
}
