.container {
  width: 100vw;
  height:80vh;
  overflow: hidden;
  position: relative;
  .step{
    position: absolute;
    top:1.5rem;
    left:-.2rem;
    right:0;
    margin:0 auto;
  }
  .main {
    width: 6rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
  }
  .circle {
    width: 4rem;
    height: 4rem;
    position: relative;
    border: 1px solid red;
    border-radius: 50%;
    box-shadow: 2px 2px 2px gray;

    text-align: center;
    margin: 0 auto;
    .open {
      color: purple;
      font-size: 70px;
      position: relative;
      top:1rem;
      i{
        font-size:100px;
      }
    }
  }
}
