.move-enter {
    opacity: 0.01;
    transform: translate(-1000px, 0)
}

.move-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 500ms ease-in;
}

.move-exit {
    opacity: 1;
    transform: translate(0, 0)
}

.move-exit-active {
    opacity: 0.01;
    transform: translate(1000px, 0);
    transition: all 500ms ease-in;
}

.dialog-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.dialog-exit {
  opacity: 1;
  transform: scale(1);
}

.dialog-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 300ms;
}
